{% extends "_layouts/cp" %}

{% set fullPageForm = true %}

{% if title is not defined %}
	{% set title = "Translate" %}
{% endif %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% include "_elements/sitemenu" with {
            selectedSiteId: siteId,
            urlFormat: "translate/{handle}"
        } %}
    {% endif %}
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="translate/translate/save">
	<input type="hidden" name="siteHandle" value="{{ siteHandle }}">
	{{ csrfInput() }}

	{% for key, translation in translations %}
        <div class="field">
			<div class="heading">
				<label for="{{ key }}">{{ key }} <span class="extralight" data-icon="language" title="{{ 'This field is translatable.' | t('app') }}"></span></label>
			</div>
			<div class="input ltr">
				<input class="text nicetext fullwidth" type="text" id="{{ key }}" name="translations[{{ key }}]" value="{{ translation }}" data-show-chars-left="" autocomplete="off" placeholder="">
			</div>
		</div>
	{% endfor %}
{% endblock %}
