{% extends "_layouts/cp" %}

{% do view.registerTranslations('app', [
    "Saving",
    "Save",
    "translations",
    "Translations saved",
    "Translations not saved",
    "Translation added",
    "Translation not added",
    "Translation deleted",
    "Translation not deleted",
    "Add",
    "Delete",
    "Key",
    "Actions",
    "Message",
    "No results",
    "Empty translations"
]) %}

{% if title is not defined %}
    {% set title = "Translate" | t('translate') %}
{% endif %}

{% block actionButton %}
    <save-translations></save-translations>
{% endblock %}

{% block sidebar %}
    {% if categories|length > 1 %}
        <nav>
            <ul>
                {% for cat in categories %}
                    <li><a{% if cat == category %} class="sel"{% endif %} href="?category={{ cat }}">{{ cat }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% set sidebar = (sidebar ?? block('sidebar') ?? '')|trim %}

{% block main %}
    {% if sidebar is not empty %}
        <a id="sidebar-toggle">
            <span id="selected-sidebar-item-label"></span>&nbsp;
            <span data-icon="downangle"></span>
        </a>
        <div id="sidebar" class="sidebar">
            {{ sidebar|raw }}
        </div>
    {% endif %}

    <translations-list category="{{ category }}"></translations-list>
{% endblock %}

{% block foot %}
    <script>
    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    </script>
{% endblock %}
