{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ "Parse templates" | t('translations-admin') }}</h2>
    <p>{{ "Parse all site templates to add missing translations" | t('translations-admin') }}</p>
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('translations-admin/utilities/missing') }}
        {{ csrfInput() }}

        <button class="btn submit" type="submit">{{ "Parse" | t('translations-admin') }}</button>
    </form>

    <hr>

    <h2>{{ "Import PHP translations to DB" | t('translations-admin') }}</h2>
    <p>{{ "Import all your PHP translations files to your database" | t('translations-admin') }}</p>
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('translations-admin/utilities/import') }}
        {{ csrfInput() }}

        <button class="btn submit" type="submit">{{ "Import" | t('translations-admin') }}</button>
    </form>

    <hr>

    <h2>{{ "Export DB translations to PHP" | t('translations-admin') }}</h2>
    <p>{{ "Export all your database translations to PHP files" | t('translations-admin') }}</p>
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('translations-admin/utilities/export') }}
        {{ csrfInput() }}

        <button class="btn submit" type="submit">{{ "Export" | t('translations-admin') }}</button>
    </form>

    <hr>

    <h2>{{ "Delete all database translations" | t('translations-admin') }}</h2>
    <p class="warning">{{ "Warning! This action is irreversible!" | t('translations-admin')  }}</p>
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('translations-admin/utilities/delete') }}
        {{ csrfInput() }}

        <button class="btn submit" type="submit">{{ "Delete all" | t('translations-admin') }}</button>
    </form>
{% endblock %}
